.top-ribbon {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  gap: 10px;

  .fa {
    font-size: 4em;
    color: lightgrey;
  }

  .stack-overflow-image {
    object-fit: cover;
    border-radius: 3px;
    height: 50px;
  }
}

h1 {
  margin-bottom: 10px;
}

.contact {

  // Use the same color even for email links.
  &,
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: grey;
  }

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 12px;

  .contact-method {
    display: flex;
    gap: 8px;

    // Hide resume and linkedin links unless printing.
    &.print-only {
      display: none;
    }
  }
}

h2 {
  margin: 12px;
  margin-bottom: 0;
}

.container {
  margin: 8px;
  display: flex;
  flex-flow: column;
  align-items: center;

  >hc-tile {
    max-width: 1280px;
  }

  >hc-tile.body {
    padding-top: 3px;
  }
}

.technologies {

  display: flex;
  flex-flow: row wrap;
  align-content: space-around;

  >div {
    flex: 1 1 auto;

    .chips {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .tag {
        font-size: 10pt;
        color: rgb(51, 51, 51);
        background-color: rgb(230, 230, 230);
        line-height: 1;
        margin: 5px;
        padding: 8px 12px;
        white-space: nowrap;
        text-decoration: none;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-radius: 6px;
        border-color: transparent;
      }

    }
  }

  fieldset {
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 4px;

    legend {
      font-size: 110%;
      padding: 3px 5px;
      margin: 0px 4px;
    }
  }

}

.experience {
  margin-top: 10px;

  .company {
    display: flex;
    flex-flow: row;
    gap: 22px;

    border-left: 1px solid lightgrey;
    border-radius: 14px;
    border-right: none;
    margin-bottom: -1px;
    padding: 10px;

    >.time-ranges {
      display: flex;
      flex-flow: row;
      flex: 0 0 50px;

      >.time-range {
        margin: 5px;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        text-align: center;
      }
    }

    .positions {
      flex: 1 1 auto;

      .title {
        line-height: 1.25;
        margin-bottom: 5px;
        font-size: 11.5pt;
      }
    }

    .position {
      display: flex;
      flex-flow: row;
      gap: 22px;

      >.time-ranges {
        display: flex;
        flex-flow: column;
        gap: 22px;
        flex: 1;

        >.time-range>span {
          line-height: 1.3;
        }
      }

      >.details {
        flex: 3;

        p {
          line-height: 1.2;
          margin-bottom: 0.8em;
        }

        ul {
          line-height: 1.2;
          list-style: disc;
          padding-left: 10px;
          margin-left: 10px;
        }
      }
    }
  }
}


.languages {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  .language {
    flex: 2 1;
    min-width: 300px;
    margin: 10px;
    position: relative;

    >.level {
      line-height: 1.5;

      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
}

.awards {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  >hc-tile {
    position: relative;
    flex: 2 1;
    min-width: 300px;
    margin: 10px;

    .time {
      width: 75px;
      height: 75px;
      overflow: hidden;
      position: absolute;

      top: -5px;
      right: -5px;

      &::before,
      &::after {
        position: absolute;
        content: '';
        display: block;
        border: 2.5px solid #2980b9;

        border-top-color: transparent;
        border-right-color: transparent;
      }

      &::before {
        top: 0;
        left: 14px;
      }

      &::after {
        bottom: 14.5px;
        right: 0;
      }

      >span {
        cursor: default;
        position: absolute;
        display: block;
        width: 85px;
        padding: 5px 0;
        background-color: #3498db;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        color: #fff;
        font-weight: 600;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        text-align: center;

        left: 10px;
        top: 10px;
        transform: rotate(45deg);
      }
    }
  }

}

.group-title {
  &::after {
    content: ": "
  }
}

.sections>div>ul {
  padding: 5px 10px;
  column-count: 2;
  column-gap: 25px;

  >li {
    padding: 5px;
    font-size: 12pt;
    line-height: 1.5;
  }
}

.educations {
  display: flex;
  flex: 1;

  .education {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 10px;


    .logo {
      width: 60px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.sections {
  display: flex;
  flex-flow: row wrap;

  >div {
    flex: 1 auto;
    display: flex;
    flex-flow: column;
  }
}

@mixin suppress-vertical-company-layout {
  flex-flow: column;
  border-left: none;
  gap: 0;

  >.time-ranges {
    flex-flow: column;

    >.time-range {
      writing-mode: initial;
      transform: none;
    }
  }
}

@media only screen and (max-width: 600px) {

  /* The vertical company headers force things to get kind of squishy
   * when the screen is really narrow (like on mobile phones).
   */
  .experience .company {
    @include suppress-vertical-company-layout;
  }
}

@media only screen and (max-width: 800px) {

  .sections>div>ul {
    column-count: 1;
  }
}

@mixin printable {
  .contact .contact-method.print-only {
    display: flex;
  }

  h2 {
    font-size: 14pt;
  }

  h3 {
    font-size: 12pt;
  }

  // Links don't work on printed paper. No point highlighting them.
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
  }

  .experience .company .positions h4.title {
    font-size: 11pt;
  }

  .top-ribbon {
    display: none;
  }

  .body {
    margin-bottom: 0;
  }

  hc-tile {
    margin-bottom: 10px;

    // Less space around cards
    padding: 15px;

    // If we change the padding on the tile, we also have to move the fluency indicators
    // to match
    .language>.level {
      top: 15px;
      right: 15px;
    }
  }

  .sections>div {

    &#education {
      flex: 2;

      .education {
        flex-flow: column;
      }
    }

    &#languages {
      flex: 3;
    }
  }


  #experience {
    h2 {
      margin-bottom: -45px;
    }

    /* The fancy vertical text looks cool in web mode, but when printing it doesn't
    * have its height calculated correctly, and other sections creep into the bottom
    * of the experiences section.
    * I'll have to make the company headers show up in a more boring way to make
    * printing look nice.
    */
    .company {
      @include suppress-vertical-company-layout;

      padding: 5px;

      .details h3,
      .details p {
        font-size: 10pt;
      }
    }
  }

  .technologies {
    font-size: 9pt;

    >div .chips .tag {
      border-color: gray;
      font-size: 9pt;
      padding: 4px 6px;
      margin: 3px;
    }
  }

  .sections>div>ul {
    padding: 5px 10px;

    >li {
      padding: 5px;
      font-size: 10pt;
      line-height: 1.2;
    }
  }

  .awards>hc-tile {
    min-width: 200px;
  }

}

// This just makes it easier for me to debug print mode by adding a query param.
.printable {
  @include printable();
}

@media print {
  @include printable();
}
