<div class="header">
  <h1>James K. Jensen</h1>
</div>
<div class="technologies">
  <h2>Technologies</h2>
  <ul>
    <li *ngFor="let group of profile.technologyGroups">
      <span class="group-title">{{group.title}}</span>
      <span *ngFor="let tech of group.technologies" class="tag">
        {{tech.name}}
      </span>
    </li>
  </ul>
</div>
<div class="experience">
</div>
<div class="languages">
</div>
<div class="awards">

</div>
<div class="community">

</div>

<div class="education">

</div>

<div class="training">

</div>
<div class="footer">

</div>
