.top-ribbon {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  gap: 10px;

  .fa {
    font-size: 4em;
    color: lightgrey;
  }

  .stack-overflow-image {
    object-fit: cover;
    border-radius: 3px;
    height: 50px;
  }
}

h1 {
  margin-bottom: 10px;
}



h2 {
  margin: 6px 12px;
}

.container {
  margin: 8px;
  display: flex;
  flex-flow: column;
  align-content: stretch;
  align-items: center;
  gap: 15px;

  >div {
    width: 100%;
    max-width: 1024px;
  }

  .header {
    .contact {

      // Use the same color even for email links.
      &,
      a,
      a:link,
      a:visited,
      a:hover,
      a:active {
        color: grey;
      }

      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      margin-top: 12px;
      gap: 20px;

      .contact-method {
        gap: 8px;
      }
    }
  }

  .body {
    padding-top: 3px;
  }
}

// There's some text we want to leave these here to match keyword filters
// in a PDF resume, but we don't want to have appear visually.
@mixin print-hidden-text {
  color: white;
  font-size: 1px;
  padding: 0;

  // Don't let the browser change the font color to make the text visible.
  print-color-adjust: exact;
}


.mode-one-page, .printable .mode-one-page {
  .sections .skill-details {
    li:nth-child(n + 2) {
      @include print-hidden-text();
    }
  }

  .experience .company .position {
    flex-flow: column;
    gap: 0;

    .details {
      * {
        @include print-hidden-text();
      }
    }
  }
}

.mode-detailed {
  .experience .company {
    >.time-ranges {
      flex: 0 0 50px;

      .time-range {
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        text-align: center;
      }
    }

    .positions {
      flex: 1 1 auto;
      flex-flow: column;
    }

    .position {
      text-align: left;

      >.time-ranges {
        flex: 1 1 150px;
        justify-content: flex-start;
        align-content: baseline;
      }

      >.details {
        flex: 10 1 300px;
      }
    }
  }

}

.experience {
  margin-top: 10px;

  .company {
    display: flex;
    flex-flow: row;
    gap: 22px;

    border-left: 1px solid lightgrey;
    border-radius: 14px;
    border-right: none;
    margin-bottom: -1px;
    padding: 10px;

    >.time-ranges {
      flex: 0 0 150px;

      display: flex;
      flex-flow: row;
      align-items: center;

      >.time-range {
        margin: 5px;
      }
    }

    .positions {
      flex: 3 0;

      display: flex;
      flex-flow: row wrap;
      gap: 22px;

      .title {
        line-height: 1.25;
        margin-bottom: 5px;
        font-size: 11.5pt;
      }
    }

    .position {
      flex: 1 1 auto;

      display: flex;
      flex-flow: row wrap;
      gap: 22px;
      justify-content: center;

      text-align: center;

      >.time-ranges {
        flex: 0 1 auto;

        display: flex;
        gap: 22px;
        flex-flow: row wrap;
        justify-content: center;

        >.time-range {
          >span {
            line-height: 1.3;
          }
        }
      }

      >.details {
        flex: 3;

        p {
          line-height: 1.2;
          margin-bottom: 0.8em;
        }

        ul {
          line-height: 1.2;
          list-style: disc;
          padding-left: 10px;
          margin-left: 10px;
        }
      }
    }
  }


}


.languages {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  .language {
    flex: 2 1;
    min-width: 300px;
    margin: 10px;
    position: relative;

    >.level {
      line-height: 1.5;

      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
}

.sections>div>ul {
  padding: 0 10px;
  column-count: 2;
  column-gap: 25px;

  >li {
    padding: 5px;
    font-size: 12pt;
    line-height: 1.5;
    break-inside: avoid;
  }
}

.educations {
  display: flex;

  .education {
    flex: 1;

    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 10px;


    .logo {
      width: 60px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.sections>div>ul.skill-details {
  column-count: auto;
}

.online-callout {
  text-align: center;
}

.detail-switcher {
  text-align: center;
}

@mixin suppress-vertical-company-layout {
  flex-flow: column;
  border-left: none;
  gap: 20px;
  text-align: center;

  h3 {
    font-size: 15pt;
  }

  >.positions {
    gap: 15px;

    .time-ranges {
      flex-flow: column;
      gap: 15px;
    }
  }

  >.time-ranges {
    flex-flow: column;
    flex-basis: auto;

    >.time-range {
      writing-mode: initial;
      transform: none;
    }
  }
}

@media only screen and (max-width: 600px) {

  /* The vertical company headers force things to get kind of squishy
   * when the screen is really narrow (like on mobile phones).
   */
  .experience .company,
  .experience.mode-detailed .company {
    @include suppress-vertical-company-layout;
  }
}

@media only screen and (max-width: 800px) {

  .sections>div>ul {
    column-count: 1;
  }
}

@mixin printable {
  .print-only-block {
    display: block;
  }

  .print-only-flex {
    display: flex;
  }

  .no-print {
    display: none !important;
  }

  .contact .contact-method.print-only {
    display: flex;
  }

  h2 {
    font-size: 14pt;
  }

  h3 {
    font-size: 12pt;
  }

  .experience .company .positions h4.title {
    font-size: 11pt;
  }

  .top-ribbon {
    display: none;
  }

  .body {
    margin-bottom: 0;
  }

  #experience {
    .experience.mode-detailed {
      margin-top: -25px;

      /* The fancy vertical text looks cool in web mode, but when printing it doesn't
      * have its height calculated correctly, and other sections creep into the bottom
      * of the experiences section.
      * I'll have to make the company headers show up in a more boring way to make
      * printing look nice.
      */
      .company {
        @include suppress-vertical-company-layout;

        padding: 5px;

        .details h3,
        .details p {
          font-size: 10pt;
        }
      }
    }

  }

  .sections>div>ul {
    >li {
      padding: 3px;
      font-size: 10pt;
      line-height: 1.2;
    }

    &.skill-details {

      >li {
        &:nth-child(n+2) {
          font-size: 7.5pt;
        }

        // Leave these here to match keyword filters, but don't print them.
        &:nth-child(n+3) {
          @include print-hidden-text();
        }
      }
    }
  }

}

.print-only-block,
.print-only-flex {
  display: none;
}

.flex {
  display: flex;
}

// This just makes it easier for me to debug print mode by adding a query param.
.printable {
  @include printable();
}

@media print {
  @include printable();
}
